{% extends 'lib/base.html' %}

{% block header_tail %}
    <link rel="stylesheet" href="/static/css/pms.css">
    <link rel="stylesheet" type="text/css" href="/static/css/jquery.datetimepicker.css" />
{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-body">
            <!-- form start -->
            <form class="form-horizontal" action="." method="post" enctype="multipart/form-data">
                <div class="box-body">
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">姓名</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="name" name="name" value="{{ emp.name }}">
                        </div>
                        <label for="identity_card" class="col-sm-2 control-label">身份证号</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="identity_card" name="identity_card" value="{{ emp.identity_card }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="gender" class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-8">
                            <select id="gender" name="gender" data-target="{{ emp.gender }}">
                                <option value="0" selected="selected">男</option>
                                <option value="1">女</option>
                                <option value="2">保密</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="tel" class="col-sm-2 control-label">手机</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="tel" name="tel" value="{{ emp.tel }}">
                        </div>
                        <label for="home_tel" class="col-sm-2 control-label">家庭电话</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="home_tel" name="home_tel" value="{{ emp.home_tel }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="picture" class="col-sm-2 control-label">头像</label>
                        <div class="col-sm-8">
                            <p>{{ emp.picture.name }}</p>
                            <input type="file" class="form-control" id="picture" name="picture" value="{{ emp.picture.name }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="province" class="col-sm-2 control-label">省</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="province" name="province" value="{{ emp.province }}">
                        </div>
                        <label for="city" class="col-sm-2 control-label">市</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="city" name="city" value="{{ emp.city }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-sm-2 control-label">详细地址</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="address" name="address" value="{{ emp.address }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="birth" class="col-sm-2 control-label">出生日期</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="birth" name="birth" value="{{ emp.get_birth }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="nation" class="col-sm-2 control-label">民族</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="nation" name="nation" value="{{ emp.nation }}">
                        </div>
                        <label for="education" class="col-sm-2 control-label">学历</label>
                        <div class="col-sm-3">
                            <select id="education" name="education" data-target="{{ emp.education }}">
                                <option value="0">初中</option>
                                <option value="1">高中</option>
                                <option value="2">大专</option>
                                <option value="3" selected="selected">本科</option>
                                <option value="4">硕士</option>
                                <option value="5">博士</option>
                                <option value="6">其他</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="height" class="col-sm-2 control-label">身高</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="height" name="height" placeholder='CM' value="{{ emp.height }}">
                        </div>
                        <label for="weight" class="col-sm-2 control-label">体重</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="weight" name="weight" placeholder='KG' value="{{ emp.weight }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mail" class="col-sm-2 control-label">邮箱</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="mail" name="mail" value="{{ emp.mail }}">
                        </div>
                        <label for="political" class="col-sm-2 control-label">政治面貌</label>
                        <div class="col-sm-3">
                            <select id="political" name="political" data-target="{{ emp.political }}">
                                <option value="0" selected="selected">群众</option>
                                <option value="1">团员</option>
                                <option value="2">党员/预备党员</option>
                                <option value="3">民主党派</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="qq" class="col-sm-2 control-label">QQ号</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="qq" name="qq" value="{{ emp.qq }}">
                        </div>
                        <label for="wechat" class="col-sm-2 control-label">微信</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="wechat" name="wechat" value="{{ emp.wechat }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="department" class="col-sm-2 control-label">所属部门</label>
                        <div class="col-sm-3">
                            <select id="department" name="department" data-target="{{ emp.department }}">
                                {% for dep in departments %}
                                    <option value="{{ dep.id }}">{{ dep.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <label for="position" class="col-sm-2 control-label">职位</label>
                        <div class="col-sm-3">
                            <select id="position" name="position" data-target="{{ emp.position }}">
                                <option value="7" selected="selected">员工</option>
                                <option value="6">组长</option>
                                <option value="5">副经理</option>
                                <option value="4">经理</option>
                                <option value="3">副总监</option>
                                <option value="2">总监</option>
                                <option value="1">副总裁</option>
                                <option value="0">总裁</option>
                                <option value="8">其他</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="status" class="col-sm-2 control-label">在职状态</label>
                        <div class="col-sm-8">
                            <input type="checkbox" id="status" name="status" data-target="{{ emp.status }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="experience" class="col-sm-2 control-label">工作经验</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="experience" name="experience" value="{{ emp.experience }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="skill" class="col-sm-2 control-label">掌握技能</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="skill" name="skill" value="{{ emp.skill }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="joined" class="col-sm-2 control-label">入职时间</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="joined" name="joined" value="{{ emp.get_joined }}">
                        </div>
                        <label for="leave" class="col-sm-2 control-label">离职时间</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="leave" name="leave" value="{{ emp.get_leave }}">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-info pull-right">保存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /.box -->
{% endblock %}

{% block body_tail %}
    <script src="/static/js/jquery.datetimepicker.full.min.js"></script>
    <script>
        $.datetimepicker.setLocale('ch');
        $('#birth').datetimepicker({format:"Y-m-d"});
        $('#joined').datetimepicker({format:"Y-m-d H:i:00"});
        $('#leave').datetimepicker({format:"Y-m-d H:i:00"});

        var gender = $('#gender').data('target');
        $('#gender').val(gender);

        var education = $('#education').data('target');
        $('#education').val(education);

        var political = $('#political').data('target');
        $('#political').val(political);

        var position = $('#position').data('target');
        $('#position').val(position);

        var department = $('#department').data('target');
        $('#department').val(department);

        var status = $('#status').data('target');
        if (status == 'True' || status == 'true'){
            document.getElementById("status").checked = true;
        }else{
            document.getElementById("status").checked = false;
        }
    </script>
{% endblock %}
